<div id="<%= dom_id milestone %>">
  <p>
    <strong>Title:</strong>
    <%= milestone.title %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= milestone.done %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= milestone.project_id %>
  </p>

</div>
